apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: demo-app
  labels:
    app: backend-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
      - name: backend-app
        image: backend-app:latest
        imagePullPolicy: Never  # for local image usage
        ports:
        - containerPort: 3001
        env:
        - name: MONGO_URL
          valueFrom:
            configMapKeyRef:
              name: demo-config
              key: MONGO_URL
        - name: APP_ENV
          valueFrom:
            configMapKeyRef:
              name: demo-config
              key: APP_ENV